extends layout

block content
 h1= title
 table
    thead
        tr
          th Id
          th Nombre
          th Apellido
          th E-Mail
    tbody
    - obj.forEach(function(v,i){
        tr
          td #{v['idEmployee']}
          td #{v['nombre']}
          td #{v['apellido']}
          td #{v['email']}
    -})